/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
body {
    /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #2a2a2a; /* Dark grey */
}

h1 {
    color: #2a2a2a;
    font-weight: bold;
    margin-bottom: 0.8em;
    text-align: center; /* Center the h1 heading */
}

h2, h3 {
    color: #2a2a2a;
    font-weight: bold;
    margin-bottom: 0.8em;
}

/* Layout */
.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f8f8f8; /* Light grey */
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Form */
form {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #2a2a2a; /* Dark grey */
}

input[type="text"] {
    flex-grow: 1;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    margin-right: 5px;
    background-color: #ffffff; /* White */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #555;
}

input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    background-color: #ffffff; /* White */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #555;
}
button {
    padding: 12px 25px;
    background-color: #e50914; /* Netflix red */
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b2070d; /* Darker red on hover */
}

/* Loader */
#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.loader {
    border: 4px solid #eaeaea;
    border-top: 4px solid #f50057; /* Netflix red */
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 1s linear infinite;
}
.input-container {
    display: flex; /* Keep elements side-by-side */
    align-items: center; /* Vertical alignment */
    margin-bottom: 2px; /* Spacing between input rows */
    position: relative;
    z-index: 1;
  }
  
.remove-btn {
    padding: 0 12px; /* Add some padding for better click target */
    margin-left: 10px; /* Spacing between input and button */
    background-color: #ccc; /* Light gray background */
    border: none;
    color: #666; /* Darker text for visibility */
    font-size: 18px; /* Size of the minus symbol */
    cursor: pointer;
    height: 100%; /* Match with parent's height */
    border-top-right-radius: 4px; /* Rounded corner top right */
    border-bottom-right-radius: 4px; /* Rounded corner bottom right */
  }

.remove-btn:hover {
    background-color: #97c7e6; /* Slightly darker blue on hover */
    color: #fff; /* White text on hover for visibility */
}
/* Autocomplete Styles */
.autocomplete-container {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 10;
    width: 45%;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.autocomplete-item {
    padding: 8px 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.autocomplete-item:last-child {
    border-bottom: none;
}

.autocomplete-item:hover {
    background-color: #f7f7f7;
}

.autocomplete-input { /* Added this for better control and style of the inputs */
    width: calc(100% - 40px); /* Subtract the width of the button, so input and button fit in one line */
}
/* Animation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add this CSS to your existing stylesheet */

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#loading-message {
  margin-left: 10px; /* Add some space between the loader and the message */
  animation: fadeInOut 3s infinite; /* Apply the fadeInOut animation */
}

/* Navigation menu styles */

.navbar {
    background-color: #333; /* dark background for navbar */
    overflow: hidden;
    height: 50px; /* reduce the navbar height */
    display: flex; /* use flexbox for layout */
    justify-content: space-between; /* push items to the edges */
}

.navbar .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* display the list items inline */
    align-items: center;
}

.navbar .nav-links li {
    padding: 14px 20px; /* vertical and horizontal padding */
}

.navbar .nav-links li a {
    text-decoration: none;
    color: white; /* dull text color */
    font-size: 17px; /* font size */
    transition: 0.3s; /* smooth transition effect on hover */
}

.navbar .nav-links li a:hover {
    color: grey; /* bright text color on hover */
    border-radius: 4px; /* add rounded corners on hover */
}

.contact-info {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f0f0f0; /* Light grey background */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info p {
    margin-bottom: 10px;
    color: #333; /* Darker text color */
    font-size: 16px;
    line-height: 1.6;
}

.contact-info p:last-child {
    margin-bottom: 0; /* Remove bottom margin for the last paragraph */
}

.contact-info p {
    margin-bottom: 10px;
    color: #333; /* Darker text color */
    font-size: 16px;
    line-height: 1.6;
}

.contact-info p:last-child {
    margin-bottom: 0; /* Remove bottom margin for the last paragraph */
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.site-content {
    flex: 1;
}
footer {
    flex-shrink: 0;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1px;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    font-size: 12px; /* Reduce the text size */
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; /* Stack footer content vertically */
}

.footer-content p {
    margin: 3px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* If you have a wider footer, you might want to use a row layout: */
@media (min-width: 768px) {
    .footer-content {
        flex-direction: row; /* Align footer content in a row on larger screens */
        justify-content: center; /* Center the footer content horizontally */
    }
}
#logo {
    height: 40px; /* adjust as needed */
    width: auto; /* keeps the aspect ratio */
    margin-right: auto; /* centers the logo if the nav is a flex container */
}

#bmc-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: auto;
    z-index: 1000;
}
#bmc-button img {
    height: 100%;
    width: auto;
}

.donation-prompt {
    text-align: center;
    margin-top: 20px;
}

.donation-options a {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ff5f5f; /* Adjust color to match your design */
    color: white; /* Text color */
    text-decoration: none;
}

.donation-options a.donate-button {
    background-color: #007bff; /* Adjust color to match your design */
}

/* Style for the Buy Me a Coffee link could be added if needed */

.qr-code {
    max-width: 200px; /* Adjust based on your preference */
    margin-top: 15px;
}

#upi-id {
    margin-top: 20px;
    font-weight: bold;
}

.donate-link {
    color: #007bff;
    text-decoration: none;
    margin-left: 5px;
}

.donate-link:hover {
    text-decoration: underline;
}

/* Modal Body */
.modal-body {
    text-align: center;
}

.qr-code {
    max-width: 200px; /* Adjust based on your preference */
    margin-top: 15px;
}

#upi-id {
    margin-top: 20px;
    font-weight: bold;
}

.donation-container h1, .donation-container p {
    text-align: center;
}

/* QR Code and UPI ID styles */
.qr-code {
    display: block;
    max-width: 300px; /* Adjust based on your preference */
    margin: 20px auto; /* Center align the QR code */
}

.upi-id {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em; /* Larger text for UPI ID */
}